<mat-toolbar>
  <div class="total">
    <div class="option">
      <p class="title" routerLink="/">Goolan</p>
    </div>
  </div>
  <div class="total">
    <div class="option">
      <div class="hoverinput">
        <input placeholder="Juego">
        <mat-icon>videogame_asset</mat-icon>
      </div>
    </div>
  </div>
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/games">
      <mat-icon>videogame_asset</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/profile', '1']">
      <mat-icon class="person">person</mat-icon>
    </button>
  </div>
</mat-toolbar>
