<div class="container-register">
  <p class="title">Register</p>
  <div class="card-register-all">
    <div class="card-register-special">
      <div class="img">
      </div>
      <button class="facebook">Facebook</button>
      <button class="instagram">Instagram</button>
      <button class="gmail">Gmail</button>
    </div>
    <div class="card-register">
      <div class="input">
        <input placeholder="Name">
      </div>
      <div class="input">
        <input placeholder="LastName">
      </div>
      <div class="input">
        <input placeholder="User">
      </div>
      <div class="input">
        <input placeholder="Password">
      </div>
      <div class="input">
        <input placeholder="Email">
      </div>
      <div class="input">
        <input placeholder="Number">
      </div>
      <div class="input">
        <input placeholder="Birthday">
      </div>
      <div class="button">
        <button class="register">Register</button>
      </div>
    </div>
  </div>

</div>
