<div class="container-home">
  <div class="container-principal">
    <div class="card-principal">
      <p>Hola Gamer, juegemos</p>
      <p>Legend of Legends</p>
    </div>
    <div class="circle first">
    </div>
    <div class="circle second">
    </div>
  </div>
  <div class="promotion">
    <div class="msg-icon">
      <p>Encontraras a tus jugadores profesionales</p>
      <p>para que te guien "mejorar"</p>
      <div class="back">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
      </div>
      <div class="game-icon first"></div>
      <div class="game-icon second"></div>
      <div class="game-icon third"></div>
      <div class="game-icon fourth"></div>
      <div class="game-icon fifth"></div>
    </div>
  </div>

</div>
