<div class="container-login">
  <p class="title">Inicia Sesion</p>
  <div class="card-login">
      <div class="img">
      </div>
      <div class="input">
        <input placeholder="User">
      </div>
      <div class="input">
        <input placeholder="Password">
      </div>
      <div class="forget">
        <p>forgot your password?</p>
      </div>
      <div class="button">
        <button class="register">Register</button>
        <button class="login">Login</button>
      </div>
  </div>
</div>
