/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.expert.title{
  text-align: center;
  font-size: 2.2rem;
  color: var(--primary-intense);
  font-weight: bold;
  padding: 1.5em;
}

.expert.desc{
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-intense);
  width: 450px;
  margin: 0 auto;
  padding: 1.5em;
}

@media (max-width: 800px) {
  .expert.desc{
    width: 90%;
    margin: 0 auto;
    padding: 1.5em 0;
  }
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px 20px;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
  }
}


