<div class="container-games">
  <div class="card-game">
    <div class="grid-container">
      <div class="title">
        <p>Dota 2</p>
      </div>
      <div class="desc">
        <p>orem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim v</p>
      </div>
      <div class="icon">
        <div class="img"></div>
      </div>
    </div>
  </div>
  <div class="card-game">
    <div class="grid-container">
      <div class="title">
        <p>Dota 222</p>
      </div>
      <div class="desc">
        <p>orem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim v</p>
      </div>
      <div class="icon">
        <div class="img"></div>
      </div>
    </div>
  </div>
  <div class="card-game">
    <div class="grid-container">
      <div class="title">
        <p>Dota 2</p>
      </div>
      <div class="desc">
        <p>orem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim v</p>
      </div>
      <div class="icon">
        <div class="img"></div>
      </div>
    </div>
  </div>
</div>
