<div class="container-games" *ngIf="loading; else loader">
  <div class="card-game" [routerLink]="['/games/', game.id]" *ngFor="let game of games">
    <div class="grid-container">
      <div class="title">
        <p>{{ game.name }}</p>
      </div>
      <div class="desc">
        <p>{{ game.summary }}</p>
      </div>
      <div class="icon">
        <div *ngIf="game.id === 1" class="img">
          <img src="assets/ccgo.png" width="100%">
        </div>
        <div *ngIf="game.id === 2" class="img">
          <img src="assets/dota.png" width="100%">
        </div>
        <div *ngIf="game.id === 3" class="img">
          <img src="assets/apex.png" width="100%">
        </div>
        <div *ngIf="game.id === 4" class="img">
          <img src="assets/wzn.png" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
